
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #9bc0f9; 
    padding: 150px;
}


.header, .nav, .article, .footer, .aside {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.header { background-color: #2980b9; font-size: 50px; }
.nav { background-color: #34495e; }
.article { background-color: #5292fa; }
.footer { background-color: #2c3e50; }


.header:hover, .nav:hover, .article:hover, .aside:hover, .footer:hover {
    background-color: #3b80ee; 
    cursor: pointer;
}


.main {
    display: flex;
    gap: 15px; 
    margin-bottom: 325px;
}

.section {
    width: 100%; 
    background-color: #55addd;
    padding: 25px;
    border-radius: 5px;
    border: 2px solid #000000;
    
    
    display: flex;
    gap: 258px; 
}

.aside {
    width: 30%; 
    background-color: #0074c1;
    margin-bottom: 0; 
}

.noticia {
    flex: 1; 
    padding: 60px 30px;
    text-align: center;
    border: 3px solid #2c3e50; 
    border-radius: 14px;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease; 
}


.noticia-1 { background-color: #5292fa; }
.noticia-2 { background-color: #27ae60; } 


.noticia:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 15px rgba(0,0,0,0.3);
    cursor: pointer;
}